html {
  direction: rtl;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
body{
  margin: 0
}

p{
  width: 200px;
  height: 150px;
  overflow-x: scroll;
  margin: 150px
}

p:first-child{
  white-space: nowrap;
}

.wrapper{
  height: 100vh;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 0rem;
}

.wrapper::-webkit-scrollbar{
  width: 2rem;
}
.wrapper::-webkit-scrollbar-track{
  width: 2rem;
}
.wrapper::-webkit-scrollbar-thumb{
  width: 2rem;
}


::-webkit-scrollbar-track{
  background-color: red;
}
::-webkit-scrollbar-thumb{
  background-color: green;
}
