:root {
  --main-text-color: #233333;
  --website-background-color: #F8FAFD;
  --card-background-color: #FFF;
  --filter-button-background-color: #f7f9fc;
}

.dark-mode {
  --main-text-color: #FFF;
  --website-background-color: #4B6170;
  --card-background-color: #374F60;
  --filter-button-background-color: #4e6275;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

html {
  font-size: 16px;
  direction: rtl;
  font-family: "Open Sans", sans-serif;
  scroll-padding-top: 180px;
}

body, h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--website-background-color);
  padding: 0 10px;
}

.fixed-position-section {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  background-color: #fff;
}
.header .hamburger-icon {
  margin-bottom: 0.5rem;
}
.header .hamburger-icon:hover {
  cursor: pointer;
}
.header .logo-icon {
  height: 3.5rem;
  margin: 0 2rem 0 1rem;
}
.header .accessibility-icons-wrapper {
  position: fixed;
  top: 15px;
  left: 15px;
}
.header .main-heading {
  font-size: 1.2rem;
  padding: 0.5rem 0 0 1rem;
}
@media (min-width: 480px) {
  .header .main-heading {
    font-size: 1.5rem;
  }
}
.header .last-updated-header {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: #5f7280;
  font-weight: 700;
  background-color: white;
}

.side-menu-overlay {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
.side-menu-overlay .side-menu {
  width: 275px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 100000;
  right: 0;
  padding: 16px 20px;
  font-size: 0.875rem;
  color: #374f60;
}
.side-menu-overlay .side-menu-header {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.side-menu-overlay .side-menu-header .x-icon {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}
.side-menu-overlay .side-menu-header .x-icon:hover {
  cursor: pointer;
}
.side-menu-overlay .menu-links-1,
.side-menu-overlay .menu-links-2 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-menu-overlay .menu-link {
  padding: 1rem 0.875rem 1rem 0;
  border-radius: 5px;
}
.side-menu-overlay .menu-link:hover {
  cursor: pointer;
}
.side-menu-overlay .menu-link:hover {
  background-color: #E0E0E0;
}

.navbar {
  background-color: rgb(55, 79, 96);
  position: fixed;
  width: 100%;
  overflow-x: auto;
}
.navbar .nav-links {
  padding: 0.2rem 0;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.navbar .nav-links .nav-link {
  color: white;
  padding: 5px 10px;
  list-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 20px;
  margin: 0.375rem;
}
.navbar .nav-links .nav-link a {
  color: inherit;
  text-decoration: none;
}
.navbar .nav-links .nav-link:hover {
  cursor: pointer;
}
.navbar .nav-links .nav-link-active {
  color: rgb(35, 51, 51);
  background-color: white;
  text-decoration: underline;
}

.section {
  border-bottom: 1px solid rgba(199, 199, 199, 0.4470588235);
  color: var(--main-text-color);
}
.section .section-top-heading {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
  padding: 0 5px;
}
.section .section-top-heading .section-header {
  font-size: 1.1875rem;
}
.section .section-top-heading .related-links-btn {
  display: flex;
  padding: 4px 12px 4px 7px;
  align-items: flex-end;
  background-color: var(--card-background-color);
  color: var(--main-text-color);
  border-radius: 16px;
  border: 1px solid #C3CACF;
}
.section .section-top-heading .related-links-btn:hover {
  cursor: pointer;
}
.section .section-top-heading .related-links-btn .btn-text {
  font-size: 0.875rem;
  padding-left: 5px;
}
.section .section-content {
  padding-top: 0.5rem;
  margin: 1rem 0;
}

#section-01 {
  margin-top: 170px;
}

.info-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.info-card-container-vertical {
  width: 50%;
  padding: 10px;
}

.info-card-container-horizontal {
  width: 100%;
  padding: 10px;
}

.info-card {
  padding: 10px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 3px 15px -2px rgba(0, 2, 2, 0.2);
}

.card-top-heading {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.card-top-heading .card-heading {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}
.card-top-heading .info-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-top-heading .info-container .info-tooltip {
  position: absolute;
  top: 25px;
  left: -60px;
  font-size: 0.8rem;
  color: var(--main-text-color);
  background-color: var(--card-background-color);
  border: 2px solid rgb(231, 233, 236);
  border-radius: 5px;
  padding: 0.3rem;
  min-width: 8rem;
  display: none;
}

.card-content .main-stat {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 1.4rem;
}
.card-content .line {
  display: flex;
  align-items: center;
}
.card-content .line .line-item {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}
.card-content .line .line-item-wide {
  width: 50px;
}
.card-content .line .big-item {
  font-size: 1.1rem;
}

.info-card-vertical {
  min-height: 184px;
}

.info-card-horizontal {
  width: 100%;
}

.last-7-days-container-wrapper {
  padding: 0 10px;
}

.last-7-days-container {
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 3px 3px 11px rgba(70, 90, 122, 0.1098039216);
  padding: 10px;
}
.last-7-days-container .wrapper-header {
  margin: 0 10px;
  padding: 10px;
}

.card-container-wrapper {
  background-color: var(--card-background-color);
  padding: 0 20px;
  margin: 0 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 11px rgba(70, 90, 122, 0.1098039216);
}

.card-container {
  position: relative;
  padding: 10px 0;
}
.card-container .three-points-menu-wrapper {
  position: absolute;
  left: 0px;
  top: 15px;
}
.card-container .three-points-menu-wrapper .three-points-icon {
  position: absolute;
  left: 0;
}
.card-container .three-points-menu-wrapper .three-points-icon:hover {
  cursor: pointer;
}
.card-container .three-points-menu-wrapper .share-and-download-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  left: 0;
}
.card-container .three-points-menu-wrapper .share-and-download-container button {
  border: 2px solid #f7f9fc;
  background-color: white;
  width: 5rem;
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.card-container .three-points-menu-wrapper .share-and-download-container button:hover {
  background-color: #f7f9fc;
}
.card-container .three-points-menu-wrapper .share-and-download-container button img {
  max-width: 1rem;
}
.card-container .filter-btn {
  display: flex;
  align-items: center;
  background-color: var(--filter-button-background-color);
  border: 1px solid #e4e9f2;
  border-radius: 1.5rem;
  margin-top: 6px;
}
.card-container .filter-btn:hover {
  cursor: pointer;
}
.card-container .filter-btn .btn-text {
  padding: 0.35rem;
  line-height: 1;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  color: var(--main-text-color);
}
.card-container .filters-container {
  position: absolute;
  z-index: 10;
  width: 175px;
  max-height: 250px;
  font-size: 0.875rem;
  overflow-y: auto;
  border: 1px solid rgba(186, 186, 186, 0.23);
  color: var(--main-text-color);
  background-color: var(--card-background-color);
}
.card-container .filters-container .user-text-input {
  width: 100%;
  padding: 10px 3px;
}
.card-container .filters-container .selected-message {
  margin-bottom: 0.5rem;
}
.card-container .filters-container .filter-group {
  padding: 0 1rem 10px 1rem;
}
.card-container .filters-container .filter-group .filter-group-heading {
  font-weight: 700;
  margin: 0.5rem 0 0.3rem 0;
}
.card-container .filters-container .filter-group ul {
  list-style: none;
}
.card-container .filters-container .filter-group ul li {
  margin-bottom: 0.5rem;
}
.card-container .filters-container .filter-group .filter-separator {
  margin: 0.8rem 0;
}
.card-container .filters-container .approve-or-cancel-buttons-container {
  display: flex;
}
.card-container .filters-container .approve-or-cancel-buttons-container button {
  background-color: var(--filter-button-background-color);
  color: var(--main-text-color);
  width: 100%;
  border: none;
  padding: 0.3rem;
  font-size: 16px;
}
.card-container .legend-container {
  margin-top: 0.5rem;
  display: flex;
}
.card-container .legend-container .legend-item {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.card-container .legend-container .legend-item .legend-text {
  margin-right: 4px;
  font-size: 0.8rem;
}
.card-container .last-updated-container {
  margin: 0.3rem 0;
  background-color: rgb(231, 233, 236);
  font-size: 0.7rem;
  display: flex;
  align-items: flex-end;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 5px;
}
.card-container .chart-container {
  height: 234px;
}
.card-container .chart-container .chart {
  height: 100%;
}
.card-container .table-container {
  height: 234px;
  overflow-y: auto;
}
.card-container .table-container .table-headers {
  background-color: rgb(231, 233, 236);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
}
.card-container .table-container .table-headers .table-header-category {
  display: flex;
  gap: 0.5rem;
}
.card-container .table-container .table-headers .table-header-category .down-caret-icon {
  transition: none;
}
.card-container .table-container .table-data {
  display: flex;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  border-bottom: 1px solid rgb(231, 233, 236);
}
.card-container .table-container .table-data data-item {
  align-self: center;
}
.card-container .table-container .table-data .color-square {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.card-container .table-container .table-data .yellow-square {
  background-color: rgb(252, 224, 82);
}
.card-container .table-container .table-data .orange-square {
  background-color: rgb(244, 185, 131);
  background-color: rgb(255, 125, 103);
}
.card-container .table-container .table-data .red-square {
  background-color: rgb(226, 29, 72);
}

#hospitals-vacancy-table-wrapper .table-data {
  justify-content: space-between;
  padding-left: 8rem;
}
#hospitals-vacancy-table-wrapper .table-data > :nth-child(1) {
  min-width: 5rem;
}
#hospitals-vacancy-table-wrapper .table-data > :nth-child(2) {
  min-width: 3rem;
}
#hospitals-vacancy-table-wrapper .table-data div:not(:first-child):after {
  content: "%";
}

#country-arrivals-table-wrapper .table-data, #traffic-light-table-wrapper .table-data {
  font-weight: 400;
  justify-content: space-between;
  padding-left: 5rem;
}
#country-arrivals-table-wrapper .table-data > :nth-child(1), #traffic-light-table-wrapper .table-data > :nth-child(1) {
  width: 4.5rem;
}
#country-arrivals-table-wrapper .table-data > :nth-child(2), #traffic-light-table-wrapper .table-data > :nth-child(2) {
  margin-right: -2.5rem;
}
#country-arrivals-table-wrapper .table-data > :nth-child(3), #traffic-light-table-wrapper .table-data > :nth-child(3) {
  width: 40px;
  margin-left: 1rem;
}
#country-arrivals-table-wrapper .table-data > :nth-child(4), #traffic-light-table-wrapper .table-data > :nth-child(4) {
  width: 40px;
  margin-left: 1rem;
}
#country-arrivals-table-wrapper .table-data > :nth-child(5), #traffic-light-table-wrapper .table-data > :nth-child(5) {
  width: 40px;
  margin-left: 1rem;
}

#traffic-light-table-wrapper .red-traffic-light, #traffic-light-table-wrapper .orange-traffic-light, #traffic-light-table-wrapper .yellow-traffic-light, #traffic-light-table-wrapper .green-traffic-light {
  font-weight: 700;
  padding: 0.3rem;
  min-width: 2rem;
  text-align: center;
  text-decoration: underline;
}
#traffic-light-table-wrapper .red-traffic-light {
  background-color: rgb(226, 29, 72);
}
#traffic-light-table-wrapper .orange-traffic-light {
  background-color: rgb(255, 125, 103);
}
#traffic-light-table-wrapper .yellow-traffic-light {
  background-color: rgba(252, 224, 82, 0.7);
}
#traffic-light-table-wrapper .green-traffic-light {
  background-color: rgb(182, 202, 81);
}
#traffic-light-table-wrapper .legend-container {
  margin-top: 0.5rem;
  display: flex;
}
#traffic-light-table-wrapper .legend-container .legend-item {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
#traffic-light-table-wrapper .legend-container .legend-item .legend-text {
  margin-right: 4px;
  font-size: 0.8rem;
}
#traffic-light-table-wrapper .legend-container .legend-item .legend-text .legend-text-desc {
  font-size: 0.7rem;
  color: #bbb;
}
#traffic-light-table-wrapper .legend-container .legend-item .legend-square {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 0.2rem;
}
#traffic-light-table-wrapper .legend-container .legend-item .yellow-square {
  background-color: rgba(252, 224, 82, 0.7);
}
#traffic-light-table-wrapper .legend-container .legend-item .orange-square {
  background-color: rgb(244, 185, 131);
  background-color: rgb(255, 125, 103);
}
#traffic-light-table-wrapper .legend-container .legend-item .red-square {
  background-color: rgb(226, 29, 72);
}

.down-caret-icon {
  width: 12px;
  margin-left: 0.5rem;
  transition: all 0.3s;
}

.bold {
  font-weight: 700;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.red {
  background-color: rgb(226, 29, 72);
}

.musturd {
  background-color: rgb(230, 185, 87);
}

.olive {
  background-color: rgb(182, 202, 81);
}

.dark-green {
  background-color: rgb(0, 127, 127);
}

.light-blue {
  background-color: rgb(80, 203, 253);
}

.orange {
  background-color: rgb(255, 125, 103);
}

.purple {
  background-color: rgb(186, 161, 239);
}

.yellow {
  background-color: rgb(252, 224, 82);
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.rotated {
  transform: rotate(180deg);
}

.info-icon {
  width: 1.25rem;
}
.info-icon:hover ~ .info-tooltip {
  font-weight: 400;
  display: block;
  z-index: 100;
}

.info-icon {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card-background-color);
  background-color: var(--main-text-color);
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: 600;
}

.info-icon-bright {
  margin-left: 5px;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card-background-color);
  background-color: var(--main-text-color);
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: 600;
}
