//website colors
$filter-btn-background: #f7f9fc;
$updated-box-background:rgb(231, 233, 236);

//graphs and legend colors
$legend-red: rgb(226, 29, 72);
$legend-musturd: rgb(230, 185, 87);
$legend-olive-green: rgb(182, 202, 81);
$legend-dark-green: rgb(0, 127, 127);
$legend-light-blue: rgb(80, 203, 253);
$legend-orange: rgb(255, 125, 103);
$legend-purple: rgb(186, 161, 239);

//colors of icons and text on collapsible side menu
// $menu-modal-text-color: #374f60;


:root {
  --main-text-color: #233333; 
  --website-background-color: #F8FAFD;
  --card-background-color: #FFF;
  --filter-button-background-color: #f7f9fc;
  --table-headers-background-color: #e9f2f4;
  
  //for the hostital table
  --precentage-bar-container-color: #f3f4f8;
  --precentage-bar-green-color:#8eb0c0;
  --precentage-bar-blue-color: #69c3f5;
  --precentage-bar-red-color: #de7483;
}

.dark-mode{
  --main-text-color: #FFF;
  --website-background-color: #4B6170;
  --card-background-color: #374F60;
  --filter-button-background-color: #4e6275;
  --table-headers-background-color: #4e6275;
}