//website colors
$filter-btn-background: #f7f9fc;
$updated-box-background:rgb(231, 233, 236);

//graphs and legend colors
$legend-red: rgb(226, 29, 72);
$legend-musturd: rgb(230, 185, 87);
$legend-olive-green: rgb(182, 202, 81);
$legend-dark-green: rgb(0, 127, 127);
$legend-light-blue: rgb(80, 203, 253);
$legend-orange: rgb(255, 125, 103);
$legend-purple: rgb(186, 161, 239);


//colors of icons and text on collapsible side menu
$menu-modal-text-color: #374f60;


:root {
  --main-text-color: #233333; //changing to #FFF;
  --website-background-color: #F8FAFD;
}

